@use '../utils/' as *;
@use "../mixin/" as *;
.vid {
  background-image: url(../assets/images/);
  pointer-events: none;
  position: relative;
  height: 50dvh;
  overflow-y: hidden;
  video {
    position: absolute;
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    overflow: hidden;
    z-index: -9999;
  }
  .info {
    position: relative;
    top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      @include media('xs') {
        top: 0;
      }

    h1,
    p {
      text-align: center;
    }
    h1 {
      color: #141212;
      font-family: 'Roboto-bold';
      font-size: 4em;
      @include media('xs'){
        font-size: 2em;
      }
    }
    p {
      font-family: 'Roboto-medium';
      font-size: 2em;
      color: rgba(15, 6, 6, 0.712);
    }
    img {
      transform: rotate(180deg);
      width: 140px;
      object-fit: cover;
    }
  }
}
.bar {
  padding-block: 1em;
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-top: 3em;
  background: #0f172a;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  @include media('xs'){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
  }
  button {
    padding: 1em;
    border-radius: 5px;
    font-family: 'Roboto-semibold';
    font-size: 1.1em;
    cursor: pointer;
    color: #ddd4d4;
    background: #1e293b;
    border-radius: 20px;
    background: #1e293b;
    box-shadow:
      -24px -24px 47px #0c1018,
      24px 24px 47px #30425e;
        @include media('xs') {
      padding-inline: 0.5em;
        }

  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 3em;
    @include media('xs') {
      grid-template-columns: 1fr;
      gap: 2em;
      padding: 1em;
    }

}
.card {
  background: #caf0f8;
  padding: 1.2em;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    box-shadow:
      0.8px 3.8px 37.3px rgba(0, 0, 0, 0.086),
      1.9px 9.2px 50.2px rgba(0, 0, 0, 0.131),
      3.6px 17.4px 34.2px rgba(0, 0, 0, 0.16),
      6.5px 31px 14.3px rgba(0, 0, 0, 0.183),
      12.1px 58.1px 123.4px rgba(0, 0, 0, 0.212),
      29px 139px 393px rgba(0, 0, 0, 0.29);
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  h2 {
    font-family: 'Roboto-bold';
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4em;
    line-height: 2;

    color: #1e293b;
      @include media('xs') {
        font-size: 1.2em;
      }

  }
  p {
    color: #30425e;
    font-family: 'Roboto-medium';
    line-height: 1.5;
    font-size: 1.1em;
    text-transform:initial;
  }
  h3 {
    font-family: 'Roboto-semibold';
    font-size: 1.4em;
    color: #0f172a;
    line-height: 2;
  }
  ul {
display: grid;
grid-template-columns: repeat(2,1fr);  
    padding: 1em;
    gap: 1em;
    li {
      background: #0f172a;
      border-radius: 13px;
      box-shadow:
        inset -5px 5px 10px #0e121b,
        inset 5px -5px 10px #2f405b;
      padding: 1em;
      color: #caf0f8;
      font-family: 'Roboto-bold';
      font-size: 1.05em;
      text-align: center;
      text-transform: uppercase;
        @include media('xs') {
          font-size: 0.8em;
        }

    }
  }
  .btns {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    a {
      padding: 0.3em 1em;
      font-family: 'Roboto-medium';
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 10px;
      color: #fff;
      gap: 0.5em;
      background: #051f20;
        @include media('xs') {
          padding: 0.3em 0.5em;
        }

      img {
        width: 50px;
          @include media('xs') {
            width: 30px;
          }

      }
      &:hover {
        color: #946217;
      }
    }
  }
}
