* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
  border: none;
  font-size: 1em;
  outline: none;
}
body {
  background: #1e293b;
}
.container {
  width: min(100%, 1200px);
  margin: 0 auto;
}
.wrapper {
  background: #0f172a;
  box-shadow:
    0px 2.2px 5.5px rgba(15, 23, 42, 0.084),
    0px 5.4px 14.3px rgba(15, 23, 42, 0.121),
    0px 10.1px 24.5px rgba(15, 23, 42, 0.15),
    0px 18.1px 32.5px rgba(15, 23, 42, 0.179),
    0px 33.8px 39.9px rgba(15, 23, 42, 0.216),
    0px 81px 47px rgba(15, 23, 42, 0.3);
}
.header {
  position: fixed;
  z-index: 232;
  inset: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
}
.nav__logo .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}
.nav__logo .logo h1 {
  font-family: 'Roboto-bold';
  font-size: 30px;
  line-height: 45px;
}
.nav__logo img {
  width: 100px;
  object-fit: contain;
}
.nav__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.nav__menu ul li .link {
  margin: 0 10px;
  color: #e5e7eb;
  line-height: 21px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  font-family: 'Roboto-medium';
}
.vid {
  background-image: url(../assets/images/);
  pointer-events: none;
  position: relative;
  height: 50dvh;
  overflow-y: hidden;
}
.vid video {
  position: absolute;
  width: 100%;
  height: 50dvh;
  object-fit: cover;
  overflow: hidden;
  z-index: -9999;
}
.vid .info {
  position: relative;
  top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vid .info h1,
.vid .info p {
  text-align: center;
}
.vid .info h1 {
  color: #141212;
  font-family: 'Roboto-bold';
  font-size: 4em;
}
.vid .info p {
  font-family: 'Roboto-medium';
  font-size: 2em;
  color: rgba(15, 6, 6, 0.712);
}
.vid .info img {
  transform: rotate(180deg);
  width: 140px;
  object-fit: cover;
}
.bar {
  padding-block: 1em;
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-top: 3em;
  background: #0f172a;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.bar button {
  padding: 1em;
  border-radius: 5px;
  font-family: 'Roboto-semibold';
  font-size: 1.1em;
  cursor: pointer;
  color: #ddd4d4;
  background: #1e293b;
  border-radius: 20px;
  background: #1e293b;
  box-shadow:
    -24px -24px 47px #0c1018,
    24px 24px 47px #30425e;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 3em;
}
.card {
  background: #caf0f8;
  padding: 1.2em;
  border-radius: 20px;
  cursor: pointer;
}
.card:hover {
  box-shadow:
    0.8px 3.8px 37.3px rgba(0, 0, 0, 0.086),
    1.9px 9.2px 50.2px rgba(0, 0, 0, 0.131),
    3.6px 17.4px 34.2px rgba(0, 0, 0, 0.16),
    6.5px 31px 14.3px rgba(0, 0, 0, 0.183),
    12.1px 58.1px 123.4px rgba(0, 0, 0, 0.212),
    29px 139px 393px rgba(0, 0, 0, 0.29);
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.card h2 {
  font-family: 'Roboto-bold';
  text-align: center;
  text-transform: capitalize;
  font-size: 1.4em;
  line-height: 2;
  color: #1e293b;
}
.card p {
  color: #30425e;
  font-family: 'Roboto-medium';
  line-height: 1.5;
  font-size: 1.1em;
}
.card h3 {
  font-family: 'Roboto-semibold';
  font-size: 1.4em;
  color: #0f172a;
  line-height: 2;
}
.card ul {
  display: flex;
  padding: 1em;
  gap: 1em;
}
.card ul li {
  background: #0f172a;
  border-radius: 13px;
  box-shadow:
    inset -5px 5px 10px #0e121b,
    inset 5px -5px 10px #2f405b;
  padding: 1em;
  color: #caf0f8;
  font-family: 'Roboto-bold';
  font-size: 1.05em;
}
.card .btns {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card .btns a {
  padding: 0.3em 1em;
  font-family: 'Roboto-medium';
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  gap: 0.5em;
  background: #051f20;
}
.card .btns a img {
  width: 50px;
}
.card .btns a:hover {
  color: #946217;
} /*# sourceMappingURL=main.css.map */
