@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,400;0,600;0,900;1,700&display=swap');

@font-face {
  font-family: 'Roboto-bold';
  src:
    url('../fonts/RobotoMono-Bold.woff2') format('woff2'),
    url('../fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-semibold';
  src:
    url('../fonts/RobotoMono-SemiBold.woff2') format('woff2'),
    url('../fonts/RobotoMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-thin';
  src:
    url('../fonts/RobotoMono-Thin.woff2') format('woff2'),
    url('../fonts/RobotoMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-light';
  src:
    url('../fonts/RobotoMono-Light.woff2') format('woff2'),
    url('../fonts/RobotoMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-medium';
  src:
    url('../fonts/RobotoMono-Medium.woff2') format('woff2'),
    url('../fonts/RobotoMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.kulim-park-regular {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kulim-park-bold {
  font-family: "Kulim Park", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kulim-park-semibold {
  font-family: "Kulim Park", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kulim-park-bold-italic {
  font-family: "Kulim Park", sans-serif;
  font-weight: 700;
  font-style: italic;
}